/* ---------------------------- Reset Styles -------------------------------- */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, strong, ol, ul, li,
fieldset, form, label, legend, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
    /* from normalize.css */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    /* width: 100vw; */
}

body {
    min-height: 100%;
}

/* Remove gray background on active links in IE 10 */
a {
    background-color: transparent;

    /* Remove link styles */
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

/* remove border on images inside links in IE 10 */
img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

/* Correct inability to style clickable types in iOS and Safari */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/* Remove default vertical scrollbar in IE 10+ */
textarea {
    overflow: auto;
}

/* For IE 10 */
[type='checkbox'],
[type='radio'] {
    padding: 0;
}

/* Correct the cursor style of increment and decrement buttons in Chrome */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

:root {
    font-size: 16px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    /* Variables */
    --fontClr: rgb(198 198 198);
    --fontSizeMain: 1.2rem;
    --fontSizeLabel: .9rem;
    --fontSizeCredits: .8rem;
    --fontSizeInput: 1rem;
    --clrGold01: rgb(132 103 73);
    --clrGold02: rgb(109 84 62);
    --clrGold03: rgb(57 60 53);
    --clrBlue01: rgb(91 111 118);
    --clrBlue02: rgb(55 71 70);
    --clrGray01: rgb(53 56 47);
    --clrGray02: rgb(43 50 43);
    --clrInvalidBrdr: rgb(255, 26, 26);
    --clrInvalidFont: rgb(211, 6, 6);
    --clrValid: rgb(139 195 74);
    --borderRadius: 4px;
    --inputWidth: max(12rem, 20vw);
}

/* Nazi germany style font / blackletter */
@font-face {
    font-family: bokor;
    src: url(fonts/Bokor-Regular.ttf);
}

/* Slightly symbolic, very futuristic, sophisticated */
@font-face {
    font-family: megrim;
    src: url(fonts/Megrim.ttf);
}

/* ------------------------------ Styles ------------------------------------ */

html,
body,
.sidebar,
.main-section {
    background-color: var(--clrGray02);
}

body {
    display: flex;
}

.sidebar {
    position: relative;
    display: flex;
    
    background-image: url(../img/dark-factory-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-width: max(200px, 30vw);

    & .banner {
        width: 100%;
        position: absolute;
        top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        background-color: rgba(223, 223, 223, 0.404);

        & > img {
            /* size for icon image */
            width: max(60px, 8vw);
            min-height: 100%;
        }

        & .name-stack {
            display: flex;
            flex-direction: column;

            font-family: bokor;
            font-size: max(32px, 5vw);
        }
    }

    & .credits-footer {
        width: 100%;
        align-self: flex-end;

        color: var(--fontClr);
        text-align: center;
        font-size: var(--fontSizeCredits);

        & a {

            &:link, &:visited, &:hover, &:active {
                text-decoration: underline;
            }
        }
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
    font-family: var(--system-ui);
    font-size: var(--fontSize);
    color: var(--fontClr);
    
    & .signup-text {
        padding: 0 2rem;

        & p:first-child {
            margin-bottom: 1rem;
        }
    }

    & .signup-section {

        & #signup-form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & .signup-fields {
                display: flex;
                flex-wrap: wrap;
                
                padding: 1rem 2rem;
                background-color: var(--clrGold03);

                & h4 {
                    /* To make the text take up the whole row */
                    width: 100%;
                    margin-bottom: 1rem;
                }

                & div {
                    /* Styles for the divs that contain labels & inputs */
                    
                    /* Width so that there are always two controls per row */
                    width: max(225px, 50%);
                    margin-bottom: 1rem;
                    
                    display: flex;
                    flex-direction: column;

                    & input {
                        width: var(--inputWidth);
                        padding: 1.1rem .6rem .8rem;

                        background-color: #e6e6e6;
                        border: 1px solid orange;
                        border-radius: var(--borderRadius);
                        font-size: var(--fontSizeInput);

                        &[required='required']:invalid {
                            /* These styles only affect when JS has added
                            'required' to the input node */
                            border: 2px solid var(--clrInvalidBrdr);
                            color: var(--clrInvalidFont);
                            box-shadow: none;
                        }

                        &[required='required']:valid {
                            /* These styles only affect when JS has added
                            'required' to the input node */
                            border: 2px solid var(--clrValid);
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                    
                    & label {
                        margin-bottom: .1rem;
                        font-size: var(--fontSizeLabel);
                        width: var(--inputWidth);
                    }
                }
            }

            & .create-login {
                padding: 0 2rem;
            }
        }
        
    }
}