/* ---------------------------- Reset Styles -------------------------------- */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, ol, ul, li,
fieldset, form, label, legend, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
    /* from normalize.css */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

:root {
    font-size: 16px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    /* Variables */
    --fontClr: rgb(198 198 198);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body, html {
    height: 100vh;
}

/* Remove gray background on active links in IE 10 */
a {
    background-color: transparent;

    /* Remove link styles */
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

/* remove border on images inside links in IE 10 */
img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

/* Correct inability to style clickable types in iOS and Safari */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/* Remove default vertical scrollbar in IE 10+ */
textarea {
    overflow: auto;
}

/* For IE 10 */
[type='checkbox'],
[type='radio'] {
    padding: 0;
}

/* Correct the cursor style of increment and decrement buttons in Chrome */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/* ------------------------------ Styles ------------------------------------ */

body {
    display: flex;
}

.sidebar {
    position: relative;
    /* background-color: gray; */

    & > img {
        /* styles for main sidebar image */
        /* object-fit: contain; */
        height: 100%;
    }

    & .logo {
        width: 100%;
        position: absolute;
        top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(223, 223, 223, 0.404);

    }

    & .credits-footer {
        width: 100%;
        position: absolute;
        bottom: 0.2rem;
        color: var(--fontClr);
        text-align: center;

        & a {

            &:link, &:visited, &:hover, &:active {
                text-decoration: underline;
            }
        }
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    font-family: var(--system-ui);
    background-color: rgb(36, 36, 36);
    color: var(--fontClr);
    
    & .signup-text {
        margin-top: 14rem;
        padding: 0 2rem;
    }

    & .signup-section {

        & #signup-form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        & .signup-fields {
            padding: 1rem 2rem;
            background-color: rgb(85 85 85);
        }
        & .create-login {
            padding: 1rem 2rem;
        }
    }
}