/* ---------------------------- Reset Styles -------------------------------- */

html {
    box-sizing: border-box;
    /* from normalize.css */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

:root {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body, html {
    height: 100vh;
}

body {
    margin: 0;
}

/* Remove gray background on active links in IE 10 */
a {
    background-color: transparent;

    /* Remove link styles */
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

/* remove border on images inside links in IE 10 */
img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

/* Correct inability to style clickable types in iOS and Safari */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}


legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/* Remove default vertical scrollbar in IE 10+ */
textarea {
    overflow: auto;
}

/* For IE 10 */
[type='checkbox'],
[type='radio'] {
    padding: 0;
}

/* Correct the cursor style of increment and decrement buttons in Chrome */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/* ------------------------------ Styles ------------------------------------ */

body {
    display: flex;
}

.sidebar {
    position: relative;
    /* background-color: gray; */

    & > img {
        /* styles for main sidebar image */
        /* object-fit: contain; */
        height: 100%;
    }

    & .logo {
        width: 100%;
        position: absolute;
        top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(223, 223, 223, 0.404);

    }

    & .credits-footer {
        width: 100%;
        position: absolute;
        bottom: 0.2rem;
        color: rgb(198 198 198);
        text-align: center;

        & a {

            &:link, &:visited, &:hover, &:active {
                text-decoration: underline;
            }
        }
    }
}